.card__cover {
  padding: 24px;
  height: 300px;
  width: 240px;
  background-color: #B7C09D;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  overflow: hidden;
  cursor: pointer;
}

.card__cover-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -.01em;
}

.card__menu {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -.01em;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
  transition: all 1s ease;
}

.card__cover:hover .card__menu {
  transform: translate(0, 0);
}

.card__menu-item {
  position: relative;
}

.card__info {
  margin-top: 16px;
  max-width: 170px;
  font-size: 16px;
  line-height: 22px;
}

.card__title {
  font-weight: 400;
}

.card__city {
  margin-top: 4px;
  font-weight: 300;
}

.card__year {
  font-weight: 300;
}
