.search-results {
  display: grid;
  grid-template-areas: "plays authors";
  column-gap: 83px;
}

@media screen and (max-width: 1200px) {
  .search-results {
    column-gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .search-results {
    max-width: 700px;
    row-gap: 100px;
    grid-template-areas:
    "authors"
    "plays";
  }
}

@media screen and (max-width: 600px) {
  .search-results__cards {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .search-results__cards {
    margin-top: 100px;
    max-width: 240px;
  }
}
